<!-- <ul class="unstyled">
    <li class="well span6" ng-repeat="order in orders">
    {{order}}  
    </li>
</ul> -->

<table class="table table-striped">
            <thead>
              <th>Index</th>
              <th>Name</th>
              <th>Quoted Amount($)</th>
              <th>Select</th>
            </thead>
            <tbody>
              <tr>
                <td>{{index}}</td>
                <td>Akshit</td>
                <td>50</td>
                <!-- <td>
                  <ul>
                    <li >
                      {{bid}}  
                    </li>
                  </ul>
                </td> -->
                <td><input type="checkbox" name="" value=""></td>
              </tr>
              <tr>
                <td>{{index}}</td>
                <td>Mudassar</td>
                <td>40</td>
                <!-- <td>
                  <ul>
                    <li >
                      {{bid}}  
                    </li>
                  </ul>
                </td> -->
                <td><input type="checkbox" name="" value=""></td>
              </tr>
            </tbody>
</table>

